.ContenedorDetail {
  background-color: white;
  height: 35rem;
  margin-top: 14%;
  margin-right: 5rem;
}

.ImgDetail {
  margin-top: 5rem;
  height: 80%;
  max-width: 50rem;
  max-height: 30rem;

}

.TextDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  max-height: 65rem;
  background-color: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  box-shadow: 5px 5px 10px #230704;
}

.DetailCaracter {
  margin-top: 8%;
  text-align: left;
  color: #e4740c;
}

.titleDetail {
  margin-top: 12%;
  font-weight: bold;
  font-size: 1.8rem;

}

.descriptionDetail {
  text-transform: none;
  padding: 10px;
}

.category {
  color: rgb(135, 133, 133);
  font-style: italic;
  font-size: medium;
}


.rate {
  color: rgb(135, 133, 133);
  font-size: small;
}

.count {
  color: rgb(25, 25, 138);
  font-size: small;
}

.priceDetail {
  position: relative;
  color: #0474c4;
  font-size: 3rem;
  font-weight: bold;
  justify-content: end;
  align-items: end;
}

.btnBuy {
  position: relative;
  margin-bottom: 15px;
  background-color: var(--naranja);
  border-color: transparent;
  justify-content: end;
  align-items: end;
  cursor: pointer
}

.Iconheart {
  position: relative;
  top: 10px;
  left: 300px;
  font-size: 17px;
  color: rgb(134, 134, 134);
  cursor: pointer
}

.IconList {
  position: relative;
  top: 38px;
  left: 285px;
  font-size: 17px;
  color: rgb(134, 134, 134);
  cursor: pointer
}