.Card {
  background-color: #00AAFF;
  height: 4rem;
  max-width: 17rem;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

}

.titleClasificacion {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  justify-content: center;
  padding: 6px;
  font-size: 20px;

}


.imgProduct {
  height: fit-content;
  width: 118%;
  max-width: 200px;
  border-radius: 5px;
  justify-content: flex-start;
  top: -1.2ch;
  position: relative;
}