.CardE {
  height: 6rem;
  max-width: 20rem;
  position: relative;
}

/* .ContainerImg { */
/* height: fit-content;
  width: 118%;
  max-width: 200px;
  border-radius: 5px;
  justify-content: flex-start;
  top: -1.2ch; */
/* position: relative; */
/* } */

.img {
  border-radius: 10px;
  width: 300%;
  height: 110%;
}

.tituloProducto {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* top: -5px;  */
  padding: 6px;
  font-size: 20px;
  text-align: right;

}