.CardE {
  height: 6rem;
  max-width: 20rem;
  position: relative;
  background-color: transparent;

}

.img {
  border-radius: 10px;
  width: 300%;
  height: 110%;
  cursor: pointer;
}

.CardE:hover .img,
.tituloProducto:hover {
  filter: brightness(150%) contrast(120%);
  transition: filter 0.3s ease-in-out;
  color: black;

}

.tituloProduct {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  text-align: right;

}