.containerPromo {
  height: auto;
  margin-top: 40rem;
  /* max-width: 80rem; */
  font-weight: bold;
  margin-bottom: 5rem;
}

.titlePromociones {
  color: #0077C8;
  font-weight: bold;
  font-family: Arial black;

}

.targetProducts {

  background-color: #F5F5F5;
  padding: 2rem;
  height: auto;
  /* margin-right: 10px; */
  border-right: 10px solid white;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* --naranja: #e4740c;
    --azul: #0474c4; */

.bigPrice,
.bigText,
.smText,
.smPrice,
.smText {
  color: #e4740c;
  font-weight: bold;
}

.smDescription,
.bigDescription {
  font-weight: 100;
}

.buyText {
  color: #0474c4;
  font-size: .9rem;
  font-weight: bold;
}