.contenCard {
  position: absolute;
  margin-top: 2rem;
  height: 27rem;

}

.bodyCard {

  position: relative;
  background-color: white;
  padding-bottom: 3rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 15rem;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ImagenCard {
  position: relative;
  object-fit: cover;
  margin: 19px;
  width: 70%;
  height: 40%;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 17px;
  color: rgb(134, 134, 134);

}

.List {
  position: absolute;
  top: 38px;
  right: 10px;
  font-size: 17px;
  color: rgb(134, 134, 134);
}

.textCard {
  font-size: 13px;
  position: absolute;
  top: 190px;
  left: 20px;
  right: 20px;
}

.precio {
  color: #0474c4;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 20px;
  right: 20px;

}


.btnComprar {
  background-color: var(--naranja);
  border-color: transparent;
  position: absolute;
  top: 290px;
  left: 20px;
  right: 20px;


}

.carousel-control-next {
  justify-content: right !important;
  width: initial !important;
}

.carousel-control-prev {
  justify-content: left !important;
  width: initial !important;
}

.carousel-control-next>span,
.carousel-control-prev>span {
  background-color: #e4740c;
  border-radius: 50px;
  padding: 20px;
}