.bodyNav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 9%;
  padding: .8rem;
}

.containerImag {
  background-color: transparent;
}

.containerMenu {
  background-color: transparent;
  padding: 10px;
}

.imgCategory {
  height: 3.5rem;
  max-width: 9rem;

}

.IconBar {
  font-size: 30px;
  color: #e4740c;
  border-top-left-radius: 20px;

}

.menuTexto {
  font-size: 1.1rem;
}