.bodyNav{
  background-color: rgb(116, 47, 206);
  position: fixed;
  padding:1%;
  width: 100%;
  top:12%;
  left: 0%;
}

.containerImag{
  background-color:chartreuse;
  padding: 15px;
}

.containerMenu{
  background-color: chocolate;
  padding: 15px;
  /* text-align: right;
  justify-content: end; */
}