.contenedorNav {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 15px;
  top: 0%;
  left: 0%;
}

.buscador {
  margin-right: auto;
}

.optionsBar {
  display: flex;
  justify-content: right;
  align-items: end;
}

.navbar .navbar-brand {
  margin-right: auto;
}

.navbar .navbar-brand,
.navbar .nav-link {
  text-decoration: none;
  margin-right: 50px;
  font-size: 1.1rem;
}