.contenedorNav {
  position: fixed;
  width: 100%;
  padding: 15px;
  top: 0%;
  left: 0%;
  background-color: white;
}

.buscador {
  margin-right: auto;
}

.navbar .navbar-brand {
  margin-right: auto;
}

.navbar .navbar-brand,
.navbar .nav-link {
  text-decoration: none;
  margin-right: 50px;
}