.containerMejoresOfertas {
  background-color: black;
  height: auto;
  margin-top: 1rem;
  font-weight: bold;
  /* margin-bottom: 15rem; */
}

.titleTarjetas {
  color: #0077C8;

}

.Tarjetas {
  background-color: aquamarine;
  padding: 2rem;
  /* height: auto; */
  height: 20rem;
  border-right: 10px solid white;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}