.containerMejoresOfertas {
  background-color: transparent;
  margin-top: 10px;
}

.titleTarjetas1 {
  color: #0077C8;
  font-weight: bold;
  font-family: Arial black;

}

.Tarjetas {
  padding: 2rem;
  height: 30rem;
  border-right: 10px solid white;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.titleTarjeta {
  color: white;
  font-weight: bold;
}

.textTarjetas {
  position: absolute;
  color: white;
  font-size: small;
}