.OfertaExclusiva {
  background-color: transparent;
  height: 8rem;
  margin-top: 1rem;
  max-width: 80rem;
  font-weight: bold;
  margin-bottom: 10rem;

}

.titleOfertaE {
  background-color: transparent;
  font-family: Arial black;
  color: #0077C8;
  font-size: 2rem;
  margin-top: 1rem;
  height: 2rem;

}

.seccionProductE {
  background-color: transparent;
  height: 14rem;
  margin-top: 2rem;


}