/* PALETA DE COLORES */
:root {
  --naranja: #e4740c;
  --azul: #0474c4;

}

.title {
  background-color: var(--naranja);
}

.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.2);
}